.menu-title {
  // margin-left: 15px;
  font-size: xx-large;
}
.menu-name {
  float: right;
  font-size: large;
}
.example-spacer {
  flex: 1 1 auto;
}
.sub-line {
  height: 10px;
  width: 100%;
  color: black;
}
